@media (min-width: 481px) {
    .advantage {
        flex-direction: row;
        justify-content: center;
        &__img-frame {
            margin-right: 25px;
            margin-bottom: 0;
        }
        &__img {
            width: 110px;
        }
        &__heading {
            text-align: left;
        };
        &__text {
            text-align: left;
        }
    }
}

@media (min-width: 481px) and (max-width: 992px) {
    .advantages {
        padding-left: 20px;
        padding-right: 20px;
        &__img-frame {
            transform: translateX(20px);
        }
    }
};

@media (min-width: 993px) {
    .advantages {
        padding-top: 95px;
        padding-bottom: 35px;
        background: #F4F4F4;
        &__heading {
            grid-area: advantages-heading;
            margin: 0;
        }
        &__items {
            grid-area: advantages-items;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__img-frame {
            max-height: 510px;
            grid-area: advantages-img-frame;
        }
        display: grid;
        grid-template-rows: 45px 4fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "advantages-items advantages-heading"
        "advantages-items advantages-img-frame"
        ;
    }
    .advantage {
        display: flex;
        flex-direction: row;
        
        &__heading {
            font-size: 16px;
            line-height: 21px;
            color: #323232;
            margin-bottom: 17px;
        }
        &__info {
            max-width: 400px;
        }
        &__text {
            font-size: 14px;
            line-height: 21px;
            color: #848E97;
        }
    }
}