@media (min-width: 481px) {
    .pricing {
        background: url('../../../../dist/img/pricing-img/pricing-768px-bg.png');
        &__heading {
            padding: 75px 0 40px;
        }
    }
    .pricing__cards {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 97%;
    }
    .pricing-card {
        opacity: 0.8;
        width: calc(50% - 13px);
        &:nth-child(odd) {
            margin-right: 25px;
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .pricing__cards {
        width: calc(100% - 135px);
    }
}

@media (min-width: 993px) {
    .pricing {
        padding-left: 60px;
        padding-right: 60px;
        &__heading {
            font-size: 48px;
            line-height: 50px;
        }
    }
    .pricing__cards {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .pricing-card {
        width: calc(25% - 11px);
        &:nth-child(odd) {
            margin-right: 0;
        }
    }
}

@media(min-width: 1200px) {
    .pricing {
        padding-left: 130px;
        padding-right: 130px;
    }
}