@media (min-width: 481px) {
    .pricing {
        background: url('../img/pricing-img/pricing-768px-bg.png');
        &__heading {
            padding: 75px 0 40px;
        }
    }
    .pricing__cards {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }
    .pricing-card {
        margin: 0;
        &:first-child {
            justify-self: end;
        }
        &:nth-child(4n) {
            align-self: center;
        }
        opacity: 0.8;
    }
}

@media (min-width: 993px) {
    .pricing {
        padding-left: 30px;
        padding-right: 30px;
        &__heading {
            font-size: 48px;
            line-height: 50px;
        }
    }
    .pricing__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .pricing-card {
        width: calc(72% / 3 - 10px);
        &-scaled {
            width: 28%;
        }
    }
}

