.reviews{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  background-position: center;
    background-image: url("../img/reviews-img/bgi.png");


  &-title{
    margin: 55px 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
  }
  &-text{
    width: 76.56%;
    margin: 30px auto 45px;
    font-family: Lato;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }

  &-copyright{
    margin-top: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #A291A5;
  }

}
//.review-item{
//  width: calc(100% / 3 - 60px);
//}