@media (min-width: 481px) and (max-width: 992px) {
  .reviews{

    &-items {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;
    }
  }

}

@media (min-width: 993px) {
  .reviews{

    &-items {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5px;
    }
  }
}