@import "reset";
@import "sections/allSections";

.container {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
}




@import "sections/allMedia";